<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
</head>
<body>
<h1>Website contact</h1>
<p>This visitor contacted you:</p>
<p>
	<%= @contact.name %><br>
	<%= @contact.email %><br>
</p>
<p>He said:</p>
<p><%= @contact.content %></p>
</body>
</html>